<img style="float:left" width="70%" src="pics/escudo_COLOR_1L_DCHA.png">
<img style="float:right" width="15%" src="pics/PythonLogo.svg">
<br style="clear:both;">

# Evaluación de la base de datos *Drug classification*

En este *Notebook* se debe realizar el trabajo para obtener la tasa de clasificación sobre la base de datos de **Kaggle** de *clasificación de drogas*, utilizando el método de clasificación de **Support Vector Machines** (**SVM**), con parámetros $(C,\gamma)$ obtenidos mediante *búsqueda en rejilla* (*grid search*).

## Docentes
- Pedro Latorre Carmona

## Alumno
- Álvaro Manjón Vara

### Curso
- 2022-2023

Esta base de datos la podéis encontrar en:

https://www.kaggle.com/datasets/prathamtripathi/drug-classification

No obstante, en el fichero comprimido de la práctica, tenéis el correspondiente fichero *.csv* en la carpeta *DrugClassification*.

Cuando abráis dicho fichero, por ejemplo, con **openoffice**, veréis que tiene el siguiente aspecto:

<img src="pics/DCHowItLooksLike.png">

Lo primero que tenéis que hacer es convertir aquellas columnas que tengan valores no numéricos, a equivalentes numéricos con los que poder trabajar. Eso incluye la última columna, que debe ser considerada como la columna de las etiquetas. 

El conjunto de los objetivos es el mismo que en el caso de la práctica 2 de primera convocatoria, y se evaluará de la misma forma.

**IMPORTANTE**

Tenéis que hacer el mismo tipo de estudio que en el caso de la práctica 2 de la primera convocatoria, pero en este caso, para esta base de datos.

In [58]:
'''
Importación de librerías
'''
import pandas as pd
import numpy as np
import pickle
import os

from sklearn.datasets import make_classification
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler, LabelEncoder

from sklearn.neural_network import MLPClassifier
from sklearn.svm import SVC

from sklearn.model_selection import cross_val_score, cross_val_predict, GridSearchCV, train_test_split
from sklearn.pipeline import Pipeline

In [59]:
'''
Datos
'''

path = "./DrugClassification"
filename = path + os.sep + "DrugClassification200patients.csv"

### Carga del fichero csv como un *data frame*

In [60]:
# Utilizad la opción "pd.read_csv"
df = pd.read_csv(filename)

In [61]:
# Visualizad el "data frame" usando la opción "display"
display(df)

     Age Sex      BP Cholesterol  Na_to_K   Drug
0     23   F    HIGH        HIGH   25.355  DrugY
1     47   M     LOW        HIGH   13.093  drugC
2     47   M     LOW        HIGH   10.114  drugC
3     28   F  NORMAL        HIGH    7.798  drugX
4     61   F     LOW        HIGH   18.043  DrugY
..   ...  ..     ...         ...      ...    ...
195   56   F     LOW        HIGH   11.567  drugC
196   16   M     LOW        HIGH   12.006  drugC
197   52   M  NORMAL        HIGH    9.894  drugX
198   23   M  NORMAL      NORMAL   14.020  drugX
199   40   F     LOW      NORMAL   11.349  drugX

[200 rows x 6 columns]

## Creación de los conjuntos **X** e **y**

Una vez creado el data frame, tenéis que crear los conjuntos $\mathbf{X}$ e $\mathbf{Y}$, del que luego se crea sus correspondientes conjuntos de **entrenamiento** y **test**.

In [62]:
columnasATransformar = list(df.select_dtypes(include=['category', 'object']))
# Transformación de los valores no numéricos a numéricos
encoder = LabelEncoder()
for feat in columnasATransformar:
    try:
        df[feat] = encoder.fit_transform(df[feat])
    except:
        print("Error transformando " + feat)

display(df)

y = df["Drug"].values
caract_cols = ["Age", "Sex", "BP", "Cholesterol", "Na_to_K"]
X_all = df[caract_cols].values

     Age  Sex  BP  Cholesterol  Na_to_K  Drug
0     23    0   0            0   25.355     0
1     47    1   1            0   13.093     3
2     47    1   1            0   10.114     3
3     28    0   2            0    7.798     4
4     61    0   1            0   18.043     0
..   ...  ...  ..          ...      ...   ...
195   56    0   1            0   11.567     3
196   16    1   1            0   12.006     3
197   52    1   2            0    9.894     4
198   23    1   2            1   14.020     4
199   40    0   1            1   11.349     4

[200 rows x 6 columns]

In [63]:
print(X_all.shape)

(200, 5)

In [64]:
'''
Listado de datos y nombres
'''

datasets = [(X_all,y)]
dataset_names = ["Data All"]

print(datasets)

[(array([[23.   ,  0.   ,  0.   ,  0.   , 25.355],
       [47.   ,  1.   ,  1.   ,  0.   , 13.093],
       [47.   ,  1.   ,  1.   ,  0.   , 10.114],
       [28.   ,  0.   ,  2.   ,  0.   ,  7.798],
       [61.   ,  0.   ,  1.   ,  0.   , 18.043],
       [22.   ,  0.   ,  2.   ,  0.   ,  8.607],
       [49.   ,  0.   ,  2.   ,  0.   , 16.275],
       [41.   ,  1.   ,  1.   ,  0.   , 11.037],
       [60.   ,  1.   ,  2.   ,  0.   , 15.171],
       [43.   ,  1.   ,  1.   ,  1.   , 19.368],
       [47.   ,  0.   ,  1.   ,  0.   , 11.767],
       [34.   ,  0.   ,  0.   ,  1.   , 19.199],
       [43.   ,  1.   ,  1.   ,  0.   , 15.376],
       [74.   ,  0.   ,  1.   ,  0.   , 20.942],
       [50.   ,  0.   ,  2.   ,  0.   , 12.703],
       [16.   ,  0.   ,  0.   ,  1.   , 15.516],
       [69.   ,  1.   ,  1.   ,  1.   , 11.455],
       [43.   ,  1.   ,  0.   ,  0.   , 13.972],
       [23.   ,  1.   ,  1.   ,  0.   ,  7.298],
       [32.   ,  0.   ,  0.   ,  1.   , 25.974],
       [57.   ,  1.   ,  1.   ,  1.   , 19.128],
       [63.   ,  1.   ,  2.   ,  0.   , 25.917],
       [47.   ,  1.   ,  1.   ,  1.   , 30.568],
       [48.   ,  0.   ,  1.   ,  0.   , 15.036],
       [33.   ,  0.   ,  1.   ,  0.   , 33.486],
       [28.   ,  0.   ,  0.   ,  1.   , 18.809],
       [31.   ,  1.   ,  0.   ,  0.   , 30.366],
       [49.   ,  0.   ,  2.   ,  1.   ,  9.381],
       [39.   ,  0.   ,  1.   ,  1.   , 22.697],
       [45.   ,  1.   ,  1.   ,  0.   , 17.951],
       [18.   ,  0.   ,  2.   ,  1.   ,  8.75 ],
       [74.   ,  1.   ,  0.   ,  0.   ,  9.567],
       [49.   ,  1.   ,  1.   ,  1.   , 11.014],
       [65.   ,  0.   ,  0.   ,  1.   , 31.876],
       [53.   ,  1.   ,  2.   ,  0.   , 14.133],
       [46.   ,  1.   ,  2.   ,  1.   ,  7.285],
       [32.   ,  1.   ,  0.   ,  1.   ,  9.445],
       [39.   ,  1.   ,  1.   ,  1.   , 13.938],
       [39.   ,  0.   ,  2.   ,  1.   ,  9.709],
       [15.   ,  1.   ,  2.   ,  0.   ,  9.084],
       [73.   ,  0.   ,  2.   ,  0.   , 19.221],
       [58.   ,  0.   ,  0.   ,  1.   , 14.239],
       [50.   ,  1.   ,  2.   ,  1.   , 15.79 ],
       [23.   ,  1.   ,  2.   ,  0.   , 12.26 ],
       [50.   ,  0.   ,  2.   ,  1.   , 12.295],
       [66.   ,  0.   ,  2.   ,  1.   ,  8.107],
       [37.   ,  0.   ,  0.   ,  0.   , 13.091],
       [68.   ,  1.   ,  1.   ,  0.   , 10.291],
       [23.   ,  1.   ,  2.   ,  0.   , 31.686],
       [28.   ,  0.   ,  1.   ,  0.   , 19.796],
       [58.   ,  0.   ,  0.   ,  0.   , 19.416],
       [67.   ,  1.   ,  2.   ,  1.   , 10.898],
       [62.   ,  1.   ,  1.   ,  1.   , 27.183],
       [24.   ,  0.   ,  0.   ,  1.   , 18.457],
       [68.   ,  0.   ,  0.   ,  1.   , 10.189],
       [26.   ,  0.   ,  1.   ,  0.   , 14.16 ],
       [65.   ,  1.   ,  0.   ,  1.   , 11.34 ],
       [40.   ,  1.   ,  0.   ,  0.   , 27.826],
       [60.   ,  1.   ,  2.   ,  1.   , 10.091],
       [34.   ,  1.   ,  0.   ,  0.   , 18.703],
       [38.   ,  0.   ,  1.   ,  1.   , 29.875],
       [24.   ,  1.   ,  0.   ,  1.   ,  9.475],
       [67.   ,  1.   ,  1.   ,  1.   , 20.693],
       [45.   ,  1.   ,  1.   ,  1.   ,  8.37 ],
       [60.   ,  0.   ,  0.   ,  0.   , 13.303],
       [68.   ,  0.   ,  2.   ,  1.   , 27.05 ],
       [29.   ,  1.   ,  0.   ,  0.   , 12.856],
       [17.   ,  1.   ,  2.   ,  1.   , 10.832],
       [54.   ,  1.   ,  2.   ,  0.   , 24.658],
       [18.   ,  0.   ,  0.   ,  1.   , 24.276],
       [70.   ,  1.   ,  0.   ,  0.   , 13.967],
       [28.   ,  0.   ,  2.   ,  0.   , 19.675],
       [24.   ,  0.   ,  2.   ,  0.   , 10.605],
       [41.   ,  0.   ,  2.   ,  1.   , 22.905],
       [31.   ,  1.   ,  0.   ,  1.   , 17.069],
       [26.   ,  1.   ,  1.   ,  1.   , 20.909],
       [36.   ,  0.   ,  0.   ,  0.   , 11.198],
       [26.   ,  0.   ,  0.   ,  1.   , 19.161],
       [19.   ,  0.   ,  0.   ,  0.   , 13.313],
       [32.   ,  0.   ,  1.   ,  1.   , 10.84 ],
       [60.   ,  1.   ,  0.   ,  0.   , 13.934],
       [64.   ,  1.   ,  2.   ,  0.   ,  7.761],
       [32.   ,  0.   ,  1.   ,  0.   ,  9.712],
       [38.   ,  0.   ,  0.   ,  1.   , 11.326],
       [47.   ,  0.   ,  1.   ,  0.   , 10.067],
       [59.   ,  1.   ,  0.   ,  0.   , 13.935],
       [51.   ,  0.   ,  2.   ,  0.   , 13.597],
       [69.   ,  1.   ,  1.   ,  0.   , 15.478],
       [37.   ,  0.   ,  0.   ,  1.   , 23.091],
       [50.   ,  0.   ,  2.   ,  1.   , 17.211],
       [62.   ,  1.   ,  2.   ,  0.   , 16.594],
       [41.   ,  1.   ,  0.   ,  1.   , 15.156],
       [29.   ,  0.   ,  0.   ,  0.   , 29.45 ],
       [42.   ,  0.   ,  1.   ,  1.   , 29.271],
       [56.   ,  1.   ,  1.   ,  0.   , 15.015],
       [36.   ,  1.   ,  1.   ,  1.   , 11.424],
       [58.   ,  0.   ,  1.   ,  0.   , 38.247],
       [56.   ,  0.   ,  0.   ,  0.   , 25.395],
       [20.   ,  1.   ,  0.   ,  1.   , 35.639],
       [15.   ,  0.   ,  0.   ,  1.   , 16.725],
       [31.   ,  1.   ,  0.   ,  1.   , 11.871],
       [45.   ,  0.   ,  0.   ,  0.   , 12.854],
       [28.   ,  0.   ,  1.   ,  0.   , 13.127],
       [56.   ,  1.   ,  2.   ,  0.   ,  8.966],
       [22.   ,  1.   ,  0.   ,  1.   , 28.294],
       [37.   ,  1.   ,  1.   ,  1.   ,  8.968],
       [22.   ,  1.   ,  2.   ,  0.   , 11.953],
       [42.   ,  1.   ,  1.   ,  0.   , 20.013],
       [72.   ,  1.   ,  0.   ,  1.   ,  9.677],
       [23.   ,  1.   ,  2.   ,  0.   , 16.85 ],
       [50.   ,  1.   ,  0.   ,  0.   ,  7.49 ],
       [47.   ,  0.   ,  2.   ,  1.   ,  6.683],
       [35.   ,  1.   ,  1.   ,  1.   ,  9.17 ],
       [65.   ,  0.   ,  1.   ,  1.   , 13.769],
       [20.   ,  0.   ,  2.   ,  1.   ,  9.281],
       [51.   ,  1.   ,  0.   ,  0.   , 18.295],
       [67.   ,  1.   ,  2.   ,  1.   ,  9.514],
       [40.   ,  0.   ,  2.   ,  0.   , 10.103],
       [32.   ,  0.   ,  0.   ,  1.   , 10.292],
       [61.   ,  0.   ,  0.   ,  0.   , 25.475],
       [28.   ,  1.   ,  2.   ,  0.   , 27.064],
       [15.   ,  1.   ,  0.   ,  1.   , 17.206],
       [34.   ,  1.   ,  2.   ,  0.   , 22.456],
       [36.   ,  0.   ,  2.   ,  0.   , 16.753],
       [53.   ,  0.   ,  0.   ,  1.   , 12.495],
       [19.   ,  0.   ,  0.   ,  1.   , 25.969],
       [66.   ,  1.   ,  0.   ,  0.   , 16.347],
       [35.   ,  1.   ,  2.   ,  1.   ,  7.845],
       [47.   ,  1.   ,  1.   ,  1.   , 33.542],
       [32.   ,  0.   ,  2.   ,  0.   ,  7.477],
       [70.   ,  0.   ,  2.   ,  0.   , 20.489],
       [52.   ,  1.   ,  1.   ,  1.   , 32.922],
       [49.   ,  1.   ,  1.   ,  1.   , 13.598],
       [24.   ,  1.   ,  2.   ,  0.   , 25.786],
       [42.   ,  0.   ,  0.   ,  0.   , 21.036],
       [74.   ,  1.   ,  1.   ,  1.   , 11.939],
       [55.   ,  0.   ,  0.   ,  0.   , 10.977],
       [35.   ,  0.   ,  0.   ,  0.   , 12.894],
       [51.   ,  1.   ,  0.   ,  1.   , 11.343],
       [69.   ,  0.   ,  2.   ,  0.   , 10.065],
       [49.   ,  1.   ,  0.   ,  1.   ,  6.269],
       [64.   ,  0.   ,  1.   ,  1.   , 25.741],
       [60.   ,  1.   ,  0.   ,  1.   ,  8.621],
       [74.   ,  1.   ,  0.   ,  1.   , 15.436],
       [39.   ,  1.   ,  0.   ,  0.   ,  9.664],
       [61.   ,  1.   ,  2.   ,  0.   ,  9.443],
       [37.   ,  0.   ,  1.   ,  1.   , 12.006],
       [26.   ,  0.   ,  0.   ,  1.   , 12.307],
       [61.   ,  0.   ,  1.   ,  1.   ,  7.34 ],
       [22.   ,  1.   ,  1.   ,  0.   ,  8.151],
       [49.   ,  1.   ,  0.   ,  1.   ,  8.7  ],
       [68.   ,  1.   ,  0.   ,  0.   , 11.009],
       [55.   ,  1.   ,  2.   ,  1.   ,  7.261],
       [72.   ,  0.   ,  1.   ,  1.   , 14.642],
       [37.   ,  1.   ,  1.   ,  1.   , 16.724],
       [49.   ,  1.   ,  1.   ,  0.   , 10.537],
       [31.   ,  1.   ,  0.   ,  1.   , 11.227],
       [53.   ,  1.   ,  1.   ,  0.   , 22.963],
       [59.   ,  0.   ,  1.   ,  0.   , 10.444],
       [34.   ,  0.   ,  1.   ,  1.   , 12.923],
       [30.   ,  0.   ,  2.   ,  0.   , 10.443],
       [57.   ,  0.   ,  0.   ,  1.   ,  9.945],
       [43.   ,  1.   ,  2.   ,  1.   , 12.859],
       [21.   ,  0.   ,  0.   ,  1.   , 28.632],
       [16.   ,  1.   ,  0.   ,  1.   , 19.007],
       [38.   ,  1.   ,  1.   ,  0.   , 18.295],
       [58.   ,  0.   ,  1.   ,  0.   , 26.645],
       [57.   ,  0.   ,  2.   ,  0.   , 14.216],
       [51.   ,  0.   ,  1.   ,  1.   , 23.003],
       [20.   ,  0.   ,  0.   ,  0.   , 11.262],
       [28.   ,  0.   ,  2.   ,  0.   , 12.879],
       [45.   ,  1.   ,  1.   ,  1.   , 10.017],
       [39.   ,  0.   ,  2.   ,  1.   , 17.225],
       [41.   ,  0.   ,  1.   ,  1.   , 18.739],
       [42.   ,  1.   ,  0.   ,  1.   , 12.766],
       [73.   ,  0.   ,  0.   ,  0.   , 18.348],
       [48.   ,  1.   ,  0.   ,  1.   , 10.446],
       [25.   ,  1.   ,  2.   ,  0.   , 19.011],
       [39.   ,  1.   ,  2.   ,  0.   , 15.969],
       [67.   ,  0.   ,  2.   ,  0.   , 15.891],
       [22.   ,  0.   ,  0.   ,  1.   , 22.818],
       [59.   ,  0.   ,  2.   ,  0.   , 13.884],
       [20.   ,  0.   ,  1.   ,  1.   , 11.686],
       [36.   ,  0.   ,  0.   ,  1.   , 15.49 ],
       [18.   ,  0.   ,  0.   ,  0.   , 37.188],
       [57.   ,  0.   ,  2.   ,  1.   , 25.893],
       [70.   ,  1.   ,  0.   ,  0.   ,  9.849],
       [47.   ,  1.   ,  0.   ,  0.   , 10.403],
       [65.   ,  1.   ,  0.   ,  1.   , 34.997],
       [64.   ,  1.   ,  0.   ,  1.   , 20.932],
       [58.   ,  1.   ,  0.   ,  0.   , 18.991],
       [23.   ,  1.   ,  0.   ,  0.   ,  8.011],
       [72.   ,  1.   ,  1.   ,  0.   , 16.31 ],
       [72.   ,  1.   ,  1.   ,  0.   ,  6.769],
       [46.   ,  0.   ,  0.   ,  0.   , 34.686],
       [56.   ,  0.   ,  1.   ,  0.   , 11.567],
       [16.   ,  1.   ,  1.   ,  0.   , 12.006],
       [52.   ,  1.   ,  2.   ,  0.   ,  9.894],
       [23.   ,  1.   ,  2.   ,  1.   , 14.02 ],
       [40.   ,  0.   ,  1.   ,  1.   , 11.349]]), array([0, 3, 3, 4, 0, 4, 0, 3, 0, 0, 3, 0, 0, 0, 4, 0, 4, 1, 3, 0, 0, 0,
       0, 0, 0, 0, 0, 4, 0, 0, 4, 2, 4, 0, 4, 4, 1, 4, 4, 4, 0, 2, 0, 4,
       4, 4, 1, 3, 0, 0, 0, 4, 0, 0, 2, 3, 2, 0, 4, 0, 0, 1, 0, 4, 2, 0,
       1, 4, 0, 0, 2, 0, 4, 0, 0, 0, 1, 0, 1, 4, 2, 4, 3, 1, 3, 2, 4, 0,
       0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 1, 1, 3, 4, 0, 4, 4, 0, 2, 0,
       1, 4, 4, 4, 4, 0, 4, 4, 1, 0, 0, 0, 0, 0, 2, 0, 0, 4, 0, 4, 0, 0,
       4, 0, 0, 4, 2, 1, 2, 4, 1, 0, 2, 0, 1, 4, 4, 1, 4, 3, 1, 2, 4, 4,
       0, 3, 1, 0, 3, 4, 4, 2, 4, 0, 0, 0, 0, 4, 0, 1, 4, 4, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 4, 4, 0, 0, 0, 2, 1, 0, 0, 0, 1, 0, 3, 0, 3, 3, 4,
       4, 4]))]

In [65]:
'''
Definición del espacio de búsqueda para la optimización de los parámetros de SVM
'''

# Para definir el rango de "C" y de "gamma", tenéis que usar la opción "np.logspace", cubriendo, para "C", 
# desde 1.0e-2 hasta 1.0e+10, y para "gamma", desde 1.0e-9, hasta 1.0e+3.

C_range = np.logspace(-3, 2, num=6)
gamma_range = np.logspace(-3, 2, num=6)

param_grid_svm = dict(gamma=gamma_range, C=C_range)
nested_cv = 5

grid_svm = GridSearchCV(SVC(), param_grid=param_grid_svm, cv=nested_cv)

{'gamma': array([1.e-03, 1.e-02, 1.e-01, 1.e+00, 1.e+01, 1.e+02]), 'C': array([1.e-03, 1.e-02, 1.e-01, 1.e+00, 1.e+01, 1.e+02])}

In [66]:
# Aquí se muestra el rango de valores a considerar
C_range, gamma_range

(array([1.e-03, 1.e-02, 1.e-01, 1.e+00, 1.e+01, 1.e+02]),
 array([1.e-03, 1.e-02, 1.e-01, 1.e+00, 1.e+01, 1.e+02]))

In [68]:
'''
Conjunto de clasificadores usados, así como sus nombres.
'''

cls_names = ["SVM"]

classifiers = [
    make_pipeline(StandardScaler(), grid_svm)]

In [69]:
# Método que ejecuta los clasificadores y devuelve las etiquetas predichas correspondientes.

from sklearn.model_selection import train_test_split

def predictions(model,X_train,y_train,X_test,y_test):    
    
    model.fit(X_train,y_train)
    y_pred = model.predict(X_test)
    
    return y_test, y_pred

In [70]:
def predictions_model(X_train,y_train,X_test, y_test,model):
        '''
        Predicciones con un modelo y un conjunto de datos (X e y), para obtener posteriormente las medidas que se quieren
        
        Parámetros
        ----------
        X: numpy.array
            Conjunto (características)
        Y: numpy.array
            Dataset (etiquetas)
        model: scikit_model
            modelo a entrenar
        num_folds: int
            Número de "particiones" de la validación cruzada ("k-fold" cross validation)
        
        Devuelve
        -------
        array 
            array de predicciones
        '''
        print('\t'+str(model)[:20], end=' - ')
        y_test,preds = predictions(model,X_train,y_train,X_test,y_test)
        print('OK')
        
        return y_test,preds

In [71]:
def run_all_save(filename, test_size):
    '''
    Realiza la validación cruzada de todos los modelos y conjuntos de datos.
        
        
    Parámetros
    ----------
    num_folds: int
        Igual que antes
    filename: string
        Nombre del fichero que guardará las "predicciones"
        
        
    El par X_train, y_train son los atributos y clases del conjunto de entrenamiento (70% de los ejemplos)
    El par X_test, y_test son los atributos y clases del conjunto de test (30% de los ejemplos)

    stratify (estratificar) significa que se quiere que haya la misma proporcion de cada una de las clases
    tanto en entrenamiento como en test, es decir, no es una partición completamente aleatoria.
    
    ''' 
    
    all_preds = {}

    for dataset,dataset_name in zip(datasets, dataset_names):
        print(dataset_name)
        X,y = dataset
        
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = test_size, random_state=42, stratify = y)
        
        for model,cls_name in zip(classifiers,cls_names):
            print(cls_name)
            y_test,preds = predictions_model(X_train,y_train,X_test,y_test,model)
            all_preds[(dataset_name,cls_name)]=(y_test,preds)

    all_preds["cls_names"]=cls_names
    all_preds["dataset_names"]=dataset_names

    with open(filename, 'wb') as fp:
         pickle.dump(all_preds, fp)

In [72]:
'''
All the predictions are going to be saved in a Python dictionary for 
further analysis.
'''

filename = 'PrediccionesDrugClassification.obj'

In [73]:
# Run the experiments

run_all_save(filename, 0.3)

Data All
SVM
	Pipeline(steps=[('st - OK

# Análisis de los resultados

Si los experimentos se han realizado previamente, sólo es necesario ejecutar el *notebook* desde esta parte. 

Los resultados se *cargarían* desde el disco duro.

In [74]:
import pickle
import pandas as pd

from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
import numpy as np

In [75]:
# Función que debe evaluar los resultados de clasificación.

def evalua(y_test, y_pred):
    return accuracy_score(y_test, y_pred)

In [76]:
def conf_mat_df(cm,labels):
    '''
    Creación de una matriz de confusión en un DataFrame
        
        
    Parámetros
    ----------
    cm: ndarray 2D
        matriz de confusión
    labels: lista
        Lista de nombres de clase
        
    Return DataFrame
    -------
    
    ''' 

    return (pd.DataFrame(cm,index=labels, columns=labels)
          .rename_axis("actual")
          .rename_axis("predicted", axis=1))

In [77]:
def get_results(filename):
    '''
    Carga el fichero con las predicciones.
    Calcula la "accuracy", la matriz de confusión, y otras. 
        
        
    Parámetros
    ----------
    filename: string
        Nombre del fichero que guarda las predicciones
        
    Return
    diccionario
        Un diccionario de pares key:values
    -------
    
    ''' 

    with open(filename, 'rb') as fp:
        all_preds = pickle.load(fp)

    cls_names = all_preds.pop("cls_names")
    dataset_names = all_preds.pop("dataset_names")

    data_cls_pairs = list(all_preds.keys())
    data_cls_pairs.sort()

    results = {}


    acc_df = pd.DataFrame(index=dataset_names, columns=cls_names)

    ## A DataFrame is created to store the accuracy in each clase
    for dataset in dataset_names:
        results[(dataset,"acc")] = pd.DataFrame(columns=cls_names)


    for dataset_name,cls_name in data_cls_pairs:

        #print(dataset_name,cls_name)
        y_true, y_pred = all_preds[(dataset_name,cls_name)]
        labels = list(np.unique(y_true))

        acc = evalua(y_true, y_pred)
        # Fill accuracy dataframe
        acc_df.at[dataset_name,cls_name]=acc

        # Get conf_mat
        cm = confusion_matrix(y_true, y_pred)
        cm_df = conf_mat_df(cm,labels)
        results[(dataset_name,cls_name,"cm")] = cm_df
        
        # Get classification report
        report = classification_report(y_true, y_pred, output_dict=True)
        report_df = pd.DataFrame(report).transpose()
        results[(dataset_name,cls_name,"report")] = report_df

        # Acc per class
        cm_dig = cm.astype('float') / cm.sum(axis=1)[:, np.newaxis]
        cm_dig = cm_dig.diagonal()

        dfi = results[(dataset_name,"acc")]
        dfi[cls_name]=pd.Series(cm_dig,labels)    
        results[(dataset_name,"acc")]=dfi.copy()


    results["Acc"] = acc_df
    return results
        
        
results = get_results(filename)

In [78]:
df_total = results["Acc"].astype(float)
df_conf = results[("Data All","SVM","cm")].astype(float)
df_report = results[("Data All","SVM","report")].astype(float)

In [79]:
df_total

               SVM
Data All  0.883333

In [80]:
df_conf

predicted     0    1    2    3     4
actual
0          25.0  0.0  0.0  0.0   2.0
1           0.0  5.0  2.0  0.0   0.0
2           2.0  0.0  3.0  0.0   0.0
3           1.0  0.0  0.0  4.0   0.0
4           0.0  0.0  0.0  0.0  16.0

In [81]:
df_report.round(4)[["precision","recall","f1-score"]]

              precision  recall  f1-score
0                0.8929  0.9259    0.9091
1                1.0000  0.7143    0.8333
2                0.6000  0.6000    0.6000
3                1.0000  0.8000    0.8889
4                0.8889  1.0000    0.9412
accuracy         0.8833  0.8833    0.8833
macro avg        0.8763  0.8080    0.8345
weighted avg     0.8888  0.8833    0.8814